@font-face {
    font-family: 'JenthillDEMO';
    src: url('@/styles/main/fonts/JenthillDEMO.ttf');
}

@font-face {
    font-family: 'MoskUltra';
    src: url('@/styles/main/fonts/MoskUltra-Bold900.ttf');
}

@font-face {
    font-family: 'SegoeUI';
    src: url('@/styles/main/fonts/SegoeUI.ttf');
}