body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
    padding: 0 10rem;

    background-color: #222;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}