.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

    @media (max-width: 900px) {
        display: none;
    }
}

.comic-card {
    --paper-white: #fff;
    --primary-yellow: #ffd900;
    --accent-red: rgba(194, 81, 28, 1);
    --accent-blue: #774069;
    --ink-black: #121212;
    --border-stroke: 0.15em;
    --dot-color: #000;

    position: relative;
    display: flex;
    flex-direction: column;
    width: 18em;
    height: 360px;
    background-color: var(--paper-white);
    border: var(--border-stroke) solid var(--ink-black);
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 0.5em 0.5em 0 var(--ink-black);
    transition:
        transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
        box-shadow 0.2s ease;
    transform-origin: bottom left;

    @media (max-width: 1200px) {
        width: 16em;
        max-height: 320px;
    }

    @media (max-width: 1000px) {
        width: 14em;
        max-height: 280px;
    }

}

.comic-card:hover {
    transform: translateY(-0.6em) rotate(-2deg);
    box-shadow: 0.8em 0.8em 0 0.1em var(--accent-red);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;
}

.card-avatar {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/public/img/ava.jpg);
    border: var(--border-stroke) solid var(--ink-black);
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.comic-card:hover .card-avatar {
    transform: scale(1.1);
}

.card-user-info {
    margin-left: 0.8em;
    text-transform: uppercase;

    p {
        font-size: clamp(1em, 1.5vw, 1.2em);
    }

    h1 {
        font-size: clamp(0.2em, 1vw, 0.8em)
    }
}

.card-username {
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--ink-black);
    background-color: var(--primary-yellow);
    padding: 0.1em 0.5em;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    letter-spacing: 1px;
}

.card-handle {
    margin: 0.2em 0 0 0;
    font-size: 0.8em;
    color: var(--ink-black);
    font-weight: 100;
    letter-spacing: 2px;
}

.card-content {
    flex-grow: 1;

}

.card-image-container {
    width: 100%;
    height: 9em;
    border-radius: 0.2em;
    border: var(--border-stroke) solid var(--ink-black);
    overflow: hidden;
    background-color: var(--accent-blue);
    background-image: radial-gradient(circle,
            var(--dot-color) 0.05em,
            transparent 0.05em);
    background-size: 0.5em 0.5em;
    background-position:
        0 0,
        0.25em 0.25em;
    transition: transform 0.3s ease;

    @media (max-width: 1200px) {
        height: 8em;
    }

    @media (max-width: 1000px) {
        height: 6.5em;
    }
}

.comic-card:hover .card-image-container {
    transform: skewX(-3deg) scale(1.02);
}

.card-caption {
    position: relative;
    margin: 0.8em 0;
    padding: 0.6em 0.8em;
    background-color: var(--paper-white);
    border: var(--border-stroke) solid var(--ink-black);
    border-radius: 0.5em;
    font-size: 0.9em;
    line-height: 1.3;
    color: var(--ink-black);
    font-size: 0.9em;

    @media (max-width: 1000px) {
        font-size: 0.8em;
    }
}

.card-caption::after {
    content: "";
    position: absolute;
    bottom: -0.6em;
    left: 1.5em;
    width: 0;
    height: 0;
    border: 0.5em solid var(--ink-black);
    border-color: var(--ink-black) transparent transparent transparent;
}

.card-caption::before {
    content: "";
    position: absolute;
    bottom: -0.4em;
    left: 1.6em;
    width: 0;
    height: 0;
    border: 0.4em solid var(--paper-white);
    border-color: var(--paper-white) transparent transparent transparent;
}

.card-actions {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    padding-top: 0.5em;

    @media (max-width: 1200px) {
        padding-top: 0;
    }

}

.action-button {
    max-width: 3rem;
    max-height: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-yellow);
    border: var(--border-stroke) solid var(--ink-black);
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0 var(--ink-black);
    transition:
        transform 0.1s ease,
        box-shadow 0.1s ease,
        background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1200px) {
        width: 2rem;
        height: 2rem;
    }

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.action-button:hover {
    background-color: var(--accent-red);
}

.action-button:active {
    transform: translate(0.2em, 0.2em);
    box-shadow: none;
}

.action-button-icon {
    width: 1.3em;
    height: 1.3em;
    stroke-width: 3;
    stroke: var(--ink-black);
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    display: block;
}

.action-button:hover .action-button-icon {
    stroke: var(--paper-white);
}

.like-button:hover .action-button-icon {
    fill: var(--paper-white);
}

.action-button-icon_tg {
    width: 1.3em;
    height: 1.3em;
    color: var(--ink-black);
}

.action-button:hover .action-button-icon_tg {
    color: var(--paper-white);
}