.toggle-switch {
    position: relative;
    width: 4rem;
    height: 2.5rem;
    --light: #fff;
    --dark: #111;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 9px;
    width: 30%;
    height: 50%;
    border-radius: 50%;
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    -ms-transform: translateX(50px);
    transform: translateX(calc(5rem - 50px));
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}