.header {
    width: 100%;
    height: 4rem;
    padding: 2rem 0;

    .headerContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_logo {
            width: fit-content;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                cursor: pointer;

                h1 {
                    font-family: 'JenthillDEMO';
                    color: #b1b1d8;
                    font-size: 3rem;
                }
            }
        }

        .header_menu {
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 2rem;

            .header_menu_navList {
                width: fit-content;
                height: 100%;
                display: flex;
                align-items: center;

                @media (max-width: 900px) {
                    display: none;
                }

                .header_menu_navList_item {
                    width: fit-content;
                    height: fit-content;
                    position: relative;
                    display: flex;
                    transition: all .2s ease;
                    will-change: transform;


                    a {
                        cursor: pointer;
                        text-align: center;
                        padding: 0.3rem 0.6rem;
                        position: relative;
                        letter-spacing: .06rem;
                        line-height: 1.25;

                        &:hover {
                            &::before {
                                opacity: 1;
                            }
                        }

                        &::before {
                            opacity: 0;
                            content: "";
                            position: absolute;
                            bottom: -25%;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 1rem;
                            background-image: url("data:image/svg+xml,%3Csvg width='53' height='4' viewBox='0 0 53 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M51.9 3C49 3 49 1 46.2 1c-2.8 0-2.8 2-5.7 2-2.8 0-2.8-2-5.7-2C32 1 32 3 29.1 3c-2.8 0-2.8-2-5.7-2-2.8 0-2.8 2-5.6 2S15 1 12.1 1C9.5 1 9.5 3 6.7 3 3.8 3 3.8 1 1 1' stroke='%23404040' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='52.9' height='4' fill='%23404040'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-position: center;
                            transition: opacity .3s ease-out;
                        }

                        p {
                            color: #fff;
                            font-family: 'MoskUltra';
                            font-size: clamp(1em, 2vw, 1.3em);
                            transition: all .2s ease;
                            overflow: hidden;
                            position: relative;


                            &:hover {

                                color: #b1b1d8;
                            }
                        }
                    }
                }
            }
        }
    }
}