.header {
    width: 100%;
    height: fit-content;
    min-height: 4rem;
    padding: 2rem 0;

    .headerContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_logo {
            width: fit-content;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                cursor: pointer;

                h1 {
                    font-family: 'JenthillDEMO';
                    color: #d5583c;
                    font-size: 3rem;
                }
            }
        }

        .header_menu {
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 2rem;

            .header_menu_navList {
                width: fit-content;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.8rem;

                .header_menu_navList_item {
                    width: fit-content;
                    height: fit-content;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    transition: all .5s ease;

                    &:nth-child(1) {
                        border-radius: 29% 71% 57% 43% / 30% 30% 70% 70%;

                        &::before,
                        &::after {
                            background-color: #774069;
                        }
                    }

                    &:nth-child(2) {
                        border-radius: 49% 51% 79% 21% / 30% 62% 38% 70%;

                        &::before,
                        &::after {
                            background-color: #6cc4ac;
                        }
                    }

                    &:nth-child(3) {
                        border-radius: 83% 17% 67% 33% / 72% 49% 51% 28%;

                        &::before,
                        &::after {
                            background-color: #97c2cf;
                        }
                    }

                    a {
                        cursor: pointer;
                        text-align: center;
                        padding: 0.3rem 0.9rem;

                        p {
                            color: #fff;
                            font-family: 'MoskUltra';
                            font-size: 1.2rem;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%) scaleY(1) scaleX(1.25);
                        top: 100%;
                        width: 140%;
                        height: 180%;
                        background-color: rgba(0, 0, 0, 0.05);
                        border-radius: 50%;
                        display: block;
                        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                        z-index: -1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 55%;
                        transform: translateX(-50%) scaleY(1) scaleX(1.45);
                        top: 180%;
                        width: 160%;
                        height: 190%;
                        background-color: #9b83bf;
                        border-radius: 50%;
                        display: block;
                        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                        z-index: -1;
                    }

                    &:hover {
                        box-shadow: 0px 0px 11px -1px #333;

                        &::before {
                            top: -35%;
                            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                        }

                        &::after {
                            top: -45%;
                            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                        }
                    }
                }
            }
        }
    }
}