.aboutme {
    width: 100%;
    position: relative;
    padding: 10rem 0;
    box-sizing: border-box;
    background-color: #4c3a69;

    @media (max-width:900px) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .aboutmeContainer {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        position: relative;
        padding: 0 10vw;
        box-sizing: border-box;

        .aboutme_title {
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: start;
            gap: 2rem;
            box-sizing: border-box;

            @media (max-width:900px) {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            .aboutme_imgContainer {
                height: 50vh;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width:1000px) {
                    height: 60vh;
                }

                @media (max-width:900px) {
                    height: 40vh;
                    ;
                }

                @media (max-width:400px) {
                    height: 30vh;
                }

                .aboutme_img {
                    width: 80%;
                    height: 65%;
                    background-color: #222;
                    border: 2px solid #fff;
                    box-shadow: 0.5em 0.5em 0 #fff;
                    position: relative;
                    transition:
                        transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
                        box-shadow 0.2s ease;
                    transform-origin: bottom left;

                    @media (max-width:1100px) {
                        height: 60%;
                    }

                    @media (max-width:1000px) {
                        height: 50%;
                    }

                    @media (max-width:900px) {
                        width: 60%;
                        height: 75%;
                    }

                    @media (max-width:400px) {
                        width: 90%;
                    }

                    &:hover {
                        transform: translateY(-0.6em) rotate(2deg);
                        box-shadow: 0.8em 0.8em 0 0.1em #342746;
                    }

                    &::after {
                        content: 'my first project';
                        position: absolute;
                        min-width: 40%;
                        padding: 0.1rem 0.2rem;
                        box-sizing: border-box;
                        height: 2rem;
                        top: -1rem;
                        left: 4rem;
                        background-color: red;
                        border: 2px solid #fff;
                        box-shadow: 0.25em 0.25em 0 #fff;
                        background-color: #222;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;
                        color: #fff;
                        font-family: MoskUltra;

                        @media (max-width:550px) {
                            left: 2rem;
                        }
                    }
                }
            }

            .aboutme_titleText {
                max-width: 50%;
                height: fit-content;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 2rem;
                box-sizing: border-box;

                @media (max-width:1200px) {
                    max-width: 45%;
                }

                @media (max-width:1000px) {
                    max-width: 40%;
                }

                @media (max-width:900px) {
                    width: 100%;
                    max-width: 100%;
                }

                h1 {
                    font-family: MoskUltra;
                    font-size: clamp(3em, 10vw, 5em);
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        &::before {
                            left: 0;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 30%;
                        background-color: #9e2c82d2;
                        z-index: -1;
                        top: 45%;
                        left: -100%;
                        transition: .5s cubic-bezier(.645, .045, .355, 1);
                    }
                }

                p {
                    font-family: SegoeUI;
                    font-size: clamp(1.1em, 2vw, 1.3em);
                    line-height: 2.5rem;

                    @media (max-width:900px) {
                        line-height: 2rem;
                    }
                }
            }
        }

        .aboutme_text {
            width: 100%;
            height: fit-content;

            .aboutme_textList {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 7rem;

                @media (max-width:900px) {
                    gap: 4rem;
                }

                @media (max-width:500px) {
                    gap: 2rem;
                }

                .aboutme_textList_item {
                    width: 100%;
                    max-height: 20vh;
                    height: 20vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media (max-width:900px) {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        max-height: fit-content;
                        height: fit-content;
                    }

                    .aboutme_textList_item_decorator {
                        width: 100%;
                        max-width: 20%;
                        height: 100%;

                        @media (max-width:1200px) {
                            max-width: 15%;
                        }

                        p {
                            color: #fff;
                            font-family: JenthillDEMO;
                            font-size: clamp(1.3em, 2vw, 2em);
                            transform: rotate(-3deg);
                        }
                    }

                    .aboutme_textList_item_content {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2rem;

                        .aboutme_textList_item_content_decorator {
                            height: 100%;
                            width: 100%;
                            max-width: 15%;
                            position: relative;

                            @media (max-width:1200px) {
                                max-width: 20%;
                            }

                            @media (max-width:900px) {
                                display: none;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                background-color: #fff;
                                top: 2rem;
                            }
                        }

                        .aboutme_textList_item_content_text {
                            max-width: 85%;
                            height: 100%;
                            text-align: start;

                            @media (max-width:900px) {
                                max-width: 100%;
                            }

                            h1 {
                                color: #fff;
                                font-family: MoskUltra;
                                font-size: clamp(2em, 4vw, 3em);
                                letter-spacing: 2px;
                                position: relative;
                                overflow: hidden;
                                width: fit-content;

                                &:hover {
                                    &::before {
                                        left: 0;
                                    }
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 45%;
                                    background-color: #9e2c82d2;
                                    z-index: -1;
                                    top: 45%;
                                    left: -100%;
                                    transition: .5s cubic-bezier(.645, .045, .355, 1);
                                }
                            }

                            p {
                                font-family: SegoeUI;
                                font-size: 1.3em;
                                line-height: clamp(2rem, 2vw, 2.5rem);
                                color: #fff;
                                font-size: clamp(1.1em, 2vw, 1.3em);

                                @media (max-width:900px) {
                                    line-height: 2.5rem;
                                }


                            }
                        }
                    }
                }
            }
        }
    }
}

.waves {
    width: 100vw;
    height: auto;
    z-index: 10;
}