.aboutme {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 10rem;

    .aboutme_background {
        position: absolute;
        width: 100vw;
        height: 100%;
        left: -10vw;
        top: 0;
        background-color: #4c3a69;
        z-index: -1;
    }

    .aboutmeContainer {
        width: 100%;
        height: 100%;

        .aboutme_title {
            width: 100%;
            height: fit-content;
            max-height: 50vh;
            display: flex;
            align-items: start;
            gap: 2rem;
            box-sizing: border-box;

            .aboutme_imgContainer {
                height: 50vh;
                max-height: 50vh;
                width: 100%;

                .aboutme_img {
                    width: 80%;
                    height: 65%;
                    background-color: #222;
                    border: 2px solid #fff;
                    box-shadow: 0.5em 0.5em 0 #fff;
                    position: relative;
                    transition:
                        transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1),
                        box-shadow 0.2s ease;
                    transform-origin: bottom left;

                    &:hover {
                        transform: translateY(-0.6em) rotate(2deg);
                        box-shadow: 0.8em 0.8em 0 0.1em #342746;
                    }

                    &::after {
                        content: 'my first project';
                        position: absolute;
                        width: 40%;
                        height: 2rem;
                        top: -1rem;
                        left: 4rem;
                        background-color: red;
                        border: 2px solid #fff;
                        box-shadow: 0.25em 0.25em 0 #fff;
                        background-color: #222;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;
                        color: #fff;
                        font-family: MoskUltra;
                    }
                }
            }

            .aboutme_titleText {
                max-width: 50%;
                height: fit-content;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 2rem;
                box-sizing: border-box;

                h1 {
                    font-family: MoskUltra;
                    font-size: 5em;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        &::before {
                            left: 0;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 30%;
                        background-color: #9e2c82d2;
                        z-index: -1;
                        top: 45%;
                        left: -100%;
                        transition: .5s cubic-bezier(.645, .045, .355, 1);
                    }
                }

                p {
                    font-family: SegoeUI;
                    font-size: 1.3em;
                    line-height: 2.5rem;
                }
            }
        }

        .aboutme_text {
            width: 100%;
            height: fit-content;
            height: 120vh;

            .aboutme_textList {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 3rem;

                .aboutme_textList_item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .aboutme_textList_item_decorator {
                        width: 100%;
                        max-width: 22%;
                        height: 100%;

                        p {
                            color: #fff;
                            font-family: JenthillDEMO;
                            font-size: 2em;
                            transform: rotate(-3deg);
                        }
                    }

                    .aboutme_textList_item_content {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2rem;

                        .aboutme_textList_item_content_decorator {
                            height: 100%;
                            width: 15%;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                background-color: #fff;
                                top: 1rem;
                            }
                        }

                        .aboutme_textList_item_content_text {
                            max-width: 85%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            gap: 1rem;

                            h1 {
                                color: #fff;
                                font-family: MoskUltra;
                                font-size: 3em;
                                line-height: 2.5rem;
                                letter-spacing: 2px;
                                position: relative;
                                overflow: hidden;

                                &:hover {
                                    &::before {
                                        left: 0;
                                    }
                                }

                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 45%;
                                    background-color: #9e2c82d2;
                                    z-index: -1;
                                    top: 45%;
                                    left: -100%;
                                    transition: .5s cubic-bezier(.645, .045, .355, 1);
                                }
                            }

                            p {
                                font-family: SegoeUI;
                                font-size: 1.3em;
                                line-height: 2.5rem;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}