.welcom {
    width: 100%;
    height: calc(100vh - 4rem);

    .welcom_background {
        width: 70%;
        height: 100vh;
        position: absolute;
        background-color: #774069;
        bottom: 0;
        right: 0;
        z-index: -1;

        @media (max-width: 900px) {
            display: none;
        }
    }

    .welcomContainer {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 900px) {
            display: flex;
            align-items: start;
            justify-content: center;
        }

        .welcom_textContainer {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: start;
            grid-column-start: 2;

            @media (max-width: 1200px) {
                width: 80%;
                margin: 0 auto;
            }

            @media (max-width: 1100px) {
                width: 70%;
                margin: 0 auto;
            }

            @media (max-width: 1000px) {
                width: 60%;
                margin: 0 auto;
            }

            @media (max-width: 900px) {
                width: 90%;
                margin: 0 auto;
            }

            @media (max-width: 600px) {
                width: 70%;
                margin: 0 auto;
            }

            @media (max-width: 500px) {
                width: 100%;
            }

            .welcom_text {
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 0.5rem;

                @media (max-width: 500px) {
                    h1 {
                        font-size: clamp(4em, 10vw, 10em);
                    }
                }

                p {
                    font-family: JenthillDEMO, sans-serif;
                    font-size: 1.7em;
                    color: #fff;
                    transform: rotate(-5deg);

                    b {
                        font-family: Parisienne;
                        font-size: 1.2em;
                    }
                }

                h1 {
                    font-family: MoskUltra;
                    font-size: clamp(2em, 4vw, 3em);
                    line-height: 1.2em;
                    color: #fff;

                    a {
                        color: var(--color-dark);
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #fff;
                    }
                }
            }
        }
    }
}